<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thearchitectsdiary.com/wp-content/uploads/2023/11/Vintage-Cinema-01-1024x682.webp)">
  <h1><%= @list.name %></h1>
</div>

<div class="p-4">

<div class="p-4">
  <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class:"btn btn-primary" %>
</div>

<div class="cards">
  <% @list.movies.each do |movie| %>
    <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url%>)">
      <div class="text-center p-2">
      </h3><%= movie.title %><h3>
      <p><%= movie.overview %></p>
      </div>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <%= link_to "",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-style-none position-absolute top-0 start-100 translate-middle fa-solid fa-trash" %>
      <p>
        <% @list.bookmarks.each do |bookmark| %>
        <%= bookmark.comment %>
        <%end%>
      </p>
    <% end %>
  </div>
</div>

</ul>
</div>

<div class=" p-2 d-flex justify-content-center">
<%= link_to "Back to overview", lists_path, class:"btn btn-secondary" %>
</div>
